{% extends 'base.html' %} {% block title %}Проекты{% endblock title %} {% block
content %}
<div class="row">
  <div class="col-6">
    <h1>Проект: {{ project.name }}</h1>
    <form class="form-control" method="POST" enctype="multipart/form-data">
      {{ form.title.label }} {{ form.title }}
      {% if project.backend.backend %}
        <img
          class="mt-4 mb-2"
          src="{{ url_for('static', filename=project.backend.backend) }}"
          style="max-width: 256px; heigth: auto"
        />
        <br />
      {% endif %}
      {{ form.backend.label }} {{ form.backend }}
      {% if project.backend.main %}
        <img
          class="mt-4 mb-2"
          src="{{ url_for('static', filename=project.backend.main) }}"
          style="max-width: 256px; heigth: auto"
        />
        <br />
      {% endif %}
      {{ form.main.label }} {{ form.main }}
      <input
        class="btn btn-primary mt-2 mb-4"
        type="submit"
        value="Создать / Обновить"
      />
    </form>
    <a
      class="btn btn-primary mt-4"
      href="{{ url_for('generat_project', pk=project.id) }}"
      >Создать</a
    >
    <a
      class="btn btn-danger mt-4"
      href="{{ url_for('delete_project', pk=project.id) }}"
      >Удалить</a
    >
  </div>
  <div class="col-2">
    <a
      class="btn btn-primary mt-4 mb-4"
      href="{{ url_for('add_card', pk=project.id) }}"
      >Добавить карточку</a
    >
    <div class="list-group" id="list-tab" role="tablist">
      {% for card in project.cards %}
        <a
          class="list-group-item list-group-item-action"
          id="list-{{ card.title }}{{ card.num }}-list"
          data-bs-toggle="list"
          href="#list-{{ card.title }}{{ card.num }}"
          role="tab"
          aria-controls="{{ card.title }}{{ card.num }}"
          >{{ card.title }}</a
        >
      {% endfor %}
    </div>
  </div>
  <div class="col-4">
    <div class="tab-content" id="nav-tabContent">
      {% for card in project.cards %}
      <div
        class="tab-pane fade"
        id="list-{{ card.title }}{{ card.num }}"
        role="tabpanel"
        aria-labelledby="list-{{ card.title }}{{ card.num }}-list"
      >
        <h1>{{ card.title }}</h1>
        <p>{{ card.block1 }}</p>
        <p>{{ card.block2 }}</p>
        <img
          class="mt-4 mb-2"
          src="{{ url_for('static', filename=card.image) }}"
          style="max-width: 256px; heigth: auto"
        />
        <br />
        <a class="btn btn-danger mt-2" href="{{ url_for('delete_card', project=project.id, card=card.id) }}">Удалить</a>
      </div>

      {% endfor %}
    </div>
  </div>

  {% endblock content %}
</div>
