{% extends 'base.html' %}

{% block title %}Проекты{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-7">
      <h1>Проект: {{ project.name }}</h1>
        <form class="form-control" method="POST" enctype="multipart/form-data">
          {{ backend_form.title.label }} {{ backend_form.title(size=20) }}
          <img src="{{ url_for('static', filename=project.backend.image) }}" />
          {{ backend_form.image.label }} {{ backend_form.image(size=20) }}
          <input class="btn btn-primary mt-2" type="submit" value="Создать">
        </form>
    </div>
    <div class="col-5">
      
    </div>
  </div>


{% endblock content %}